* {
    background-color: #d1e6ff;
    color: #5978b2;
}
a {
    color: #ffb1b4;
    background-color: #ffffff;
}
h1 {
    background-color: #5978b2;
    color: #ffffff;
    padding: 2rem;
    font-size: 48px;
    text-align: center;

    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
h2 {
    font-size: 48px;
    text-align: center;
    font-family: sans-serif;
}
#icon {
    width: 20%;
    margin-right: auto;
    margin-left: auto;
}
.text {
    text-align: center;
}
.itemized {
    padding: 2rem;
    background-color: #ffffff;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
#score {
    background-color: #ffffff;
}
#talk {
    background-color: #ffffff;
}